<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/library">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/model/User1.hbm.xml</value>
				<value>org/model/Book.hbm.xml</value>
				<value>org/model/Mark.hbm.xml</value>
				<value>org/model/Borrow.hbm.xml</value></list>
		</property>
		</bean>
		<bean id="userDAO" class="org.dao.imp.UserDAO">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<bean id="userService" class="org.service.imp.UserService">
			<property name="userDAO">
				<ref bean="userDAO"></ref>
			</property>
		</bean>
		<bean id="userAction" class="org.action.UserAction">
			<property name="userService">
				<ref bean="userService"></ref>
			</property>
			<property name="bookService">
				<ref bean="bookService"></ref>
			</property>
			<property name="borrowService">
				<ref bean="borrowService"></ref>
			</property>
		</bean>
		<bean id="bookDAO" class="org.dao.imp.BookDAO">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<bean id="bookService" class="org.service.imp.BookService">
			<property name="bookDAO">
				<ref bean="bookDAO"></ref>
			</property>
		</bean>
		<bean id="bookAction" class="org.action.BookAction">
			<property name="bookService">
				<ref bean="bookService"></ref>
			</property>
		</bean>
		<bean id="borrowDAO" class="org.dao.imp.BorrowDAO">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<bean id="borrowService" class="org.service.imp.BorrowService">
			<property name="borrowDAO">
				<ref bean="borrowDAO"></ref>
			</property>
		</bean>
		<bean id="borrowAction" class="org.action.BorrowAction">
			<property name="borrowService">
				<ref bean="borrowService"></ref>
			</property>
		</bean>
</beans>